.key {
    display: inline-flex;
    align-items: flex-end;
    height: inherit;
    border-style: solid;
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.key:focus {
    outline: none;
}

.key-text {
    width: 100%;
}

.key-text.hide {
    visibility: hidden;
}

.key-white {
    background-color: white;
    width: 75px;
    border: black;
    box-shadow: 0px 0px 3pt 0px black;
    height: inherit;
}

.key-white:active, .key-white-pressed {
    box-shadow: inset 0px 0px 10px black;
    outline: none;
    background-color: #f2f2f2;
}

.key-white:hover {
    background-color: #f2f2f2;
}

.key-black {
    background-color: black;
    color: white;
    outline: none;
    border-color: var(--piano-color);
    box-shadow:  0 3px 3pt 0px black;
    width: 50px;
    margin-left: 25px;
    height: calc((var(--keys-container-height) / 2) + 30px);
    position: relative;
    bottom: 263px;
    left: 25px;
}

.key-black.Gb4, .key-black.Db5 {
    margin-left: 100px;
}

.key-black:active, .key-black-pressed {
    box-shadow: inset 0px 0px 10px black;
    outline: none;
    background-color: #4d4d4d;
}

.key-black:hover {
    background-color: #4d4d4d;
}