@import 'Key.css';
:root {
    --keys-container-height: 260px;
    --piano-color: #8c8c8c;
}

.piano {
    background-color: var(--piano-color);
    outline: solid;
    width: 800px;
    margin: auto;
    border: black;
    border-style: solid;
}

.labeled-checkbox {
    display: block;
    position: relative;
    float: right;
    padding-right: 100px;
}

.keys-container {
    height: var(--keys-container-height);
    padding: 25px;
}