@import 'Key.css';

.piano {
    background-color: #8c8c8c;
    outline: solid;
    width: 800px;
    margin: auto;
    border: black;
    border-style: solid;
}

.labeled-checkbox {
    display: block;
    position: relative;
    float: right;
    padding-right: 100px;
}

.keysContainer {
    height: 250px;
    padding: 25px;
}

.blackKeysContainer {
    display: inline-block;
    height: 200px;
    position: relative;
    bottom: 258px;
    left: 30px;
}

.whiteKeysContainer {
    display: inline-block;
    height: inherit;
}