@import 'Key.css';
:root {
    --keys-container-height: 260px;
}

.piano {
    background-color: #8c8c8c;
    outline: solid;
    width: 800px;
    margin: auto;
    border: black;
    border-style: solid;
}

.labeled-checkbox {
    display: block;
    position: relative;
    float: right;
    padding-right: 100px;
}

.keysContainer {
    height: var(--keys-container-height);
    padding: 25px;
}

.blackKeysContainer {
    display: inline-block;
    height: calc((var(--keys-container-height) / 2) + 30px);
    position: relative;
    bottom: 263px;
    left: 30px;
}

.whiteKeysContainer {
    display: inline-block;
    height: inherit;
}